<div class="container" ng-show="tablevisible">
    <div class="jumbotron">
        <div class="col-md-3 col-sm-3 col-xs-8 form-group pull-right top_search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." ng-model="searchtext">
                <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
            </div>
        </div>
        <button ng-click="showhide()"class="w3-button w3-green w3-border">Add New&nbsp;<i class="fa fa-plus" aria-hidden="true"></i></button>
        <div class="mystyle">
            <button ng-click="exportAction('csv')"  class="w3-button w3-indigo">  CSV</button>
            <button ng-click="exportAction('excel')" class="w3-button w3-indigo"> Excel</button>
            <button ng-click="exportAction('doc')"  class="w3-button w3-indigo">  Doc</button>
            <button ng-click="exportAction('pdf')" class="w3-button w3-indigo"> Pdf</button>
            <br>
            <br>
        </div>
        <div class="text-center">

            <table class="table table-striped table-bordered" export-table>

                <thead>
                <tr>
                    <th ng-repeat="(key,value) in releaveObj[0]" ng-if="key!=='__v'&&key!='_id'">{{key}}</th>
                    <th>action</th>

                </tr>
                </thead>

                <tbody>
                <!--<tr dir-paginate="|filter:searchtext|itemsPerPage:5">-->
                <tr ng-repeat="releave in releaveObj">
                    {{releave.discussionDate}}
                    <td ng-repeat="(key,value) in releave" ng-if="key!=='__v'&&key!='_id'">{{key === "releaveInfoDate" ? (value|date:'medium'):value}}</td>

                    <td class="text-center">
                        <a  class="btn btn-danger btn-xs" ng-click="discussionCall(releave._id)" ng-hide="releave.discussionDate">Call For Discussion</a>
                        <a  class="btn btn-danger btn-xs" ng-click="approveReleave(releave._id)" ng-show="releave.discussionDate" ng-hide="releave.releaveStartDate" >Approve releave</a>
                    </td>

                </tr>
                </tbody>

            </table>
        </div>


    </div>



</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirm Deletion</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this item ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"  id="btnClose">Close</button>
                <button type="submit" class="btn btn-default" ng-click="deletejobdetailsDetails(jobdetailsDetails.mongodbIdForDelete)">
                    Delete</button>

            </div>
        </div>

    </div>
</div>


<div class="row" ng-show="formvisible">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>jobdetails <small>admin</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />

                <form class="form-horizontal form-label-left" role="form">
                    <div class="row">
                        <!--{{jsonConfig}}-->


                            <div class="form-group">
                                <label class="control-label col-sm-2">Come for Discussion</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control col-md-7 col-xs-12" ng-model="Discussiondate" />
                                </div>
                            </div>
                    </div>
                </form>



                            <div class="ln_solid"></div>

                <div class="form-group">
                    <div class="col-sm-offset-6 col-sm-4">
                        <button type="close" class="btn " ng-click="showhide()"><i class="fa fa-times" aria-hidden="true" ng-click="showhide()"></i>close</button>
                        <button type="submit" class="btn btn-primary" ng-click="sendDiscussiondate(Discussiondate)"><i class="fa fa-floppy-o" aria-hidden="true">save</i></button>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="row" ng-show="form2visible">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>jobdetails <small>admin</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />

                <form class="form-horizontal form-label-left" role="form">
                    <div class="row">
                        <!--{{jsonConfig}}-->


                        <div class="form-group" ng-controller="dateandtimepicCtrl as ctrl">
                            <label class="control-label col-sm-2">Releave Start Date</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control"  datetime-picker   ng-model="releave.releaveStartDate" is-open="ctrl.picker6.open"  ng-change="dateAndTime(ctrl.picker6.date);changingDateValue({releaveStartDate:ctrl.picker6.date})"  ng-init="ctrl.picker6.date"/>
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="ctrl.openCalendar($event, 'picker6')"><i class="fa fa-calendar"></i></button>
                                </span>
                                <!--<input type="text" class="form-control col-md-7 col-xs-12" ng-model="releave.releaveStartDate" />-->
                            </div>
                        </div>

                        <div class="form-group" ng-controller="dateandtimepicCtrl as ctrl">
                            <label class="control-label col-sm-2">Releave End Date</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control"  datetime-picker   ng-model="releave.releaveEndDate" is-open="ctrl.picker6.open"  ng-change="changingDateValue({releaveEndDate:ctrl.picker6.date})" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="ctrl.openCalendar($event, 'picker6')"><i class="fa fa-calendar"></i></button>
                                 </span>
                                <!--<input type="text" class="form-control col-md-7 col-xs-12" ng-model="releave.releaveEndDate" />-->
                            </div>
                        </div>
                    </div>

                        <div class="ln_solid"></div>
                         <div class="form-group">
                        <div class="col-sm-offset-6 col-sm-4">
                            <button type="close" class="btn " ng-click="showhide2()"><i class="fa fa-times" aria-hidden="true">close</i></button>
                            <button type="submit" class="btn btn-primary"  ng-click="releaveApprove(releave)">
                                Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>








